<body style="overflow: visible;">
   <div class="d-flex flex-column">
      <div class="d-flex justify-content-between align-items-center theme-border-bottom px-3">
         <div class="text-center d-md-block flex-grow-1 overflow-hidden">
            <h5 class="mb-0">
               LLM-UI
            </h5>
         </div>
         <div class="d-flex gap-3 align-items-center position-relative">
            <span>
               <div class="d-flex align-items-center">
                  <%= Current.user.email_address %>
               </div>
            </span>
         </div>
      </div>
      <div class="d-flex">
         <%= render "index", chats: @chats %>
         <div class="d-flex flex-column flex-grow-1 mx-auto" style="height: calc(-50px + 100vh);">
            <div class="message-list my-auto d-flex align-items-center">
               <div class="mx-2" style="width: 80%;">
                  <% if @chat.new_record? %>
                     <%= render "examples", examples: @examples %>
                  <% else %>
                     <% @ms = @chat.messages.pluck(:value) %>
                     <% @messages = @ms.values_at(*(0...@ms.length).step(2)).zip(@ms.values_at(*(1...@ms.length).step(2)))  %>
                     <%= render "messages", messages: @messages %>
                  <% end %>
               </div>
            </div>
            <%= render "input", chat: @chat %>
         </div>
      </div>
   </div>
 </body>